.acerca-container {
  max-width: 900px;
  margin: 120px auto 40px auto; /* espacio por el header fijo */
  padding: 20px;
  background: #fffefe;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
 
}

.acerca-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #0ea37f;
}

.acerca-text {
  font-size: 17px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 18px;
}
