
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL HEADER LAYOUT */

.header {
  width: 100%;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  z-index: 1000;
  
}

/* IZQUIERDA: LOGO + TÍTULO */
.header__left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo {
  width: 38px;
}

.header__title {
  font-size: 18px;
  font-weight: 600;
  color: #0b0b0b;
}

/* MENÚ DE NAVEGACIÓN */
.header__nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__nav a {
  text-decoration: none;
  font-size: 15px;
  color: #333;
  transition: 0.2s;
}

.header__nav a:hover {
  color: #0ea37f;
}

/* DROPDOWN */
.header__dropdown {
  position: relative;
  cursor: pointer;
  font-size: 15px;
}

.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;   /* Cambiar top:25px → top:100%; */
  left: 0;
  background: white;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Para estar encima de todo */
}


.header__dropdown:hover .dropdown__menu {
  display: block;
}
.header__dropdown{
  position: relative;
  display: inline-block;
}
.dropdown__menu a {
  display: block;
  padding: 6px 0;
  color: #333;
}

.dropdown__menu a:hover {
  color: #0ea37f;
}

/* BOTÓN: INICIAR SESIÓN */
.header__loginBtn {
  background: #0ea37f;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
  margin-right:  70px;
}

.header__loginBtn:hover {
  background: #0c8b6b;
  
}

.dropdown__btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: #333;
}
