* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
    box-sizing: border-box;
}

.hero_left {
    max-width: 500px;
}

.hero_left h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.hero_sub {
    margin-top: 20px;
    color: #5f5f5f;
}

.hero_btn {
    margin-top: 30px;
    padding: 15px 35px;
    background: #00a676;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.img1:hover{

  transform: scale(1.05);

}

.img1:click{
clip-path: 50%;
}

.hero_btn:hover {
    background: #008b62;
}

.hero_right img{
    width: 650px;
    
   
}


.hero_circulo{
width: 50px;
border-radius: 50%;
height: 50px;
background-color: rgb(242, 240, 240);
position: absolute;
top: 80px;
left: 15px ;
}

.hero_circulo1{
width: 50px;
border-radius: 50%;
height: 50px;
background-color: rgb(242, 240, 240);
position: absolute;
top: 100px;
left: 200px ;
}

.hero_circulo2{
width: 40px;
border-radius: 50%;
height: 40px;
background-color: rgb(242, 240, 240);
position: absolute;
top: 300px;
left: 200px ;
}
.hero_circulo3{
width: 40px;
border-radius: 50%;
height: 40px;
background-color: rgb(242, 240, 240);
position: absolute;
top: 300px;
left: 90% ;
}

.hero_circulo4{
width: 40px;
border-radius: 50%;
height: 40px;
background-color: rgb(242, 240, 240);
position: absolute;
top: 70%;
left: 90% ;
}

.hero_circulo5{
width: 40px;
border-radius: 50%;
height: 40px;
background-color: rgb(242, 240, 240);
position: absolute;
top: 20%;
left: 10% ;
}

.hero_circulo6{
width: 40px;
border-radius: 50%;
height: 40px;
background-color: rgb(242, 240, 240);
position: absolute;
top: 50%;
left: 95% ;
}


