.crear-cita-container {
  max-width: 450px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  font-family: 'Inter', sans-serif;
}

.crear-cita-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.crear-cita-container label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.rs-input,
.rs-picker-date,
.rs-picker-time {
  width: 100% !important;
}

.crear-cita-container button {
  width: 50px;
  background-color: #009b7b !important;
  color: white !important;
  border-radius: 15px;
  font-weight: bold;
}

.crear-cita-container button:hover {
  background-color: #009b7b !important;
}
